@model List<Address>;


<table style="width:100%" id="row">
    <thead>
        <tr class="tableRow">
            <th>Street</th>
            <th>Street No</th>
            <th>Post Code</th>
            <th>City</th>
            <th></th>
        </tr>
    </thead>
    @{
        for (int i = 0; i < @Model.Count; i++)
        {
            if (i % 2 != 0)
            {
                <tr class="rows">
                    <td>
                        @Model[i].Street
                    </td>
                    <td>
                        @Model[i].StreetNo
                    </td>
                    <td>
                        @Model[i].PostCode
                    </td>
                    <td>
                        @Model[i].City
                    </td>
                    <td>
                        <a asp-controller="Addresses" asp-action="Delete">Delete</a>
                    </td>
                </tr>
            }
            else
            {
                <tr>
                    <td>
                        @Model[i].Street
                    </td>
                    <td>
                        @Model[i].StreetNo
                    </td>
                    <td>
                        @Model[i].PostCode
                    </td>
                    <td>
                        @Model[i].City
                    </td>
                    <td>
                        <a asp-controller="Addresses" asp-action="Delete">Delete</a>
                    </td>
                </tr>
            }

        }
    }
</table>

<a asp-controller="Addresses" asp-action="CreateNew" class="links">Create new address</a>